:root {
    --primary-color: #00464F;
    /* Dark Teal */
    --accent-color: #007B86;
    /* Teal */
    --background-color: #F4F4F4;
    /* Light Gray */
    --text-color: #333333;
    /* Dark Charcoal */
    --highlight-color: #4CAF50;
    /* Mint */
    --accent-background-color: #2C3E50;
    /* Dark Slate Gray */
    --link-color: #4169E1;
    /* Royal Blue */
}

body {
    background-color: #F4F4F4;
    color: #333333;
}

/* Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #00464F;
    color: #b2f1e8;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-container .logo {
    /* background-color: var(--backgroud-color-home1); */
    height: 40px;
    margin-right: 10px;
}

.navbar-container span {
    color: white;
    font-weight: bold;
    font-size: medium;
}

.button-container {
    /* background-color: var(--backgroud-color-home1); */
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: white
}

/* Main Container (Home Page) */
.Main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Artwork Slider */
.artwork-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    /* display: flex; */
}

.artwork-slide {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 800px;
    padding: 1rem;
    width: 300px;
    /* background-color: var(--backgroud-color-home2); */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* border:  solid; */
    /* border-radius: 10px; */
    margin-bottom: 1rem;
    /* text-align: center; */
    /* align-items: center; */
}

.img-space {
    /* background-color: var(--backgroud-color-home1); */
    width: 80%;
    min-height: 300px;
    max-height: 500px;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.img-space img {
    width: 80%;
    min-height: 300px;
    max-height: 460px;
    border: 14px solid black;
    /* border-radius: 5px; */
}

.details-container {

    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.artist-details {
    width: 50%;
    margin-top: 1rem;
    margin-right: 5.5rem;
}

.sub-artist-details {
    display: flex;
    justify-content: space-between;

}

.title,
.title-values {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: small;
    font-weight: 900;
}

.title-values {
    font-size: 10px;
    font-weight: 100;
}

.artwork-details {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.pricing-container {
    display: flex;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    /* flex-direction: column; */
    /* align-items: center; */
}

.pricing-container p {
    margin-bottom: 0.5rem;
}

.pricing-container button {
    /* background-color: #4caf50; */
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.artwork-slide {
    min-height: 300px;
}

.bid {
    /* background-color: black; */
    color: black;
}

/* Shopping Cart and Account buttons in Navbar */
.user,
.shopping_basket {
    /* background-color: #113536 ; */
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    border-bottom: none;
}


/* Total Container in Cart Page */
.total-container {
    margin-top: 1rem;
    text-align: right;
}


a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #4caf50;
}

.slick-dots {
    bottom: 30px !important;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.slick-dots li {

    margin: 0 5px;
}

.slick-dots li button {

    width: 10px;
    height: 10px;
    border: 2px solid #555;
    background: transparent;
    border-radius: 50%;
    transition: all 0.3s;
}

.slick-dots li.slick-active button {
    background: #555;
}

/* artist profile page styling ***************************************/
.artwork-list-container {
    margin: 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.275);
}

.artwork-list-element {
    display: flex;
    justify-content: space-evenly;
    /* border:#333 solid 2px; */
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-icon-space {
    margin: 20px;
    max-width: 200px;
    height: 300px;
}

.img-icon-space img {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.275);
    max-width: 225px;
    height: 300px;
}

.art-detials {
    margin: 30px;
}

.art-detials p {
    font-size: small;
}

.details-container-el {
    width: 60%;
    height: 300px;
    justify-content: space-evenly;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* border: #333 solid 1px; */
    margin: 20px;
}

.el {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.artwork-list-container h2 {
    margin-left: 90px;
    padding-top: 40px;
    /* margin-top: 80px !important; */
}

/* shopping cart styling ********************************************* */

.shopping-cart-panel {
    position: fixed;
    top: 0;
    right: -50%;
    /* Initially off-screen */
    height: 100vh;
    width: 50%;
    /* Adjust this value based on your design */
    background-color: white;
    transition: right 0.5s ease-in-out;
    /* Add a smooth transition effect */
    overflow-y: auto;
    /* Make the panel scrollable */
    z-index: 999;
    /* Ensure the panel is above other elements */
}

.shopping-cart-panel.open {
    right: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Slide the panel in when the 'open' class is present */
}

.panel-header {
    display: flex;
    justify-content: space-between;
    color: #333;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.panel-header h3 {
    margin-left: 40px;
    margin-right: 170px;
}

.close-icon {
    margin-right: 40px;
    right: 0;
}


.cart-main-container {
    position: absolute;
    padding: 1rem;
    z-index: 1000;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 95%;
    font-size: medium;
}

.empty-cart {
    margin: 40px;
}


.cart-list-container {
    display: flex;
    /* align-items: center; */
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.img-icon {
    position: relative;
    width: 20%;
    height: auto;
    margin-right: 1rem;
}

.img-icon img {
    margin: 5px;
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.cart-details-container {
    /* flex-grow: 1; */
    display: flex;
    /* flex-direction: column; */
    color: black;
    width: 100%;
    justify-content: space-around;
}

.cart-art-detials {
    display: flex;
    width: 50%;
    margin-bottom: 1rem;
    align-items: center;
}

.cart-art-detials p {
    font-weight: bold;
    font-size: small;
}

.qty-pricing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    width: 30%;
}

.remove {
    color: red;
    /* Adjust the color as needed */
    cursor: pointer;
}

.total-container {
    margin-top: 1rem;
    text-align: right;
    font-size: medium;
}