:root {
    --primary-color: #00464F;
    /* Dark Teal */
    --accent-color: #007B86;
    /* Teal */
    --background-color: #F4F4F4;
    /* Light Gray */
    --text-color: #333333;
    /* Dark Charcoal */
    --highlight-color: #4CAF50;
    /* Mint */
    --accent-background-color: #2C3E50;
    /* Dark Slate Gray */
    --link-color: #4169E1;
    /* Royal Blue */
}

body {
    background-color: #F4F4F4;
    color: #333333;
    font-size: 18px;
}

@media (min-width: 320px) and (max-width: 767px) {

    /* Styles for mobile devices */
    body {
        font-size: 16px;
    }

    .navbar-container .logo {
        margin-right: 5px;
    }

    .shopping_basket {
        margin-right: 10px;
    }

    .details-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 15px 15px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Styles for tablets */
    body {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {

    /* Styles for desktops and larger screens */
    body {
        font-size: 20px;
    }
}


/* Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #00464F;
    color: #b2f1e8;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}

.logo {
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
}

.navbar-container .logo {
    height: 40px;
    /* margin-right: 10px; */
}

.navbar-container span {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.button-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white
}

/* Main Container (Home Page) */
.Main-container {
    display: flex;
    width: 100%;
    align-items: center;
}

/* Artwork Slider */
.artwork-container {
    width: 100%;
    overflow: hidden;
}

.img-space {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    overflow: hidden;
}

.img-space img {
    width: 93%;
    min-height: 300px;
    max-height: 460px;
    border: 14px solid black;
}

.details-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 15px 15px;
}

.artist-details h1 {
    font-size: 2em;
    width: 100%;
}

.artist-name {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.sub-artist-details {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.questionmark {
    margin-top: 1px;
}

.title,
.title-values {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 900;
}

.title-values {
    font-size: 12px;
}

.artwork-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.pricing-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pricing-container p {
    margin-bottom: 0.5rem;
}

.pricing-container button {
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Shopping Cart and Account buttons in Navbar */
.user,
.shopping_basket {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: none;
}

/* Total Container in Cart Page */
/* .total-container {
    margin-top: 1rem;
    text-align: right;
} */


a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #4caf50;
}



/* artist profile page styling ***************************************/
.artwork-list-container {
    margin: 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.275);
}

.list-header {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.msg-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.message-icon {
    margin-top: 40px;
    font-size: 24px;
}

.popup-content {
    display: flex;
    flex-direction: column;
}

.msg-list-container {
    width: auto;
    min-height: 200px;
    max-height: 250px;
    overflow-y: auto;
}

.fav-list-container {
    width: auto;
    max-height: 250px;
    min-height: 200px;
    overflow-y: auto;
}

.message-container {
    max-height: 300px;
    padding: 20px;
    width: auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.275);
    overflow-y: auto;
}

.fav-item-container {
    display: flex;
    max-height: 300px;
    padding: 20px;
    width: auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.275);
    overflow-y: auto;
    align-items: center;
}

.fav-item-container img {
    padding-right: 8px;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.fav-item-container p {
    font-size: smaller;
    font-weight: bold;
}

.artwork-list-element {
    display: flex;
    justify-content: space-evenly;
    /* border:#333 solid 2px; */
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-icon-space {
    margin: 20px;
    max-width: 200px;
    height: 300px;
}

.img-icon-space img {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.275);
    max-width: 225px;
    height: 300px;
}

.art-detials {
    margin: 30px;
}

.art-detials p {
    font-size: small;
}

.details-container-el {
    width: 60%;
    height: 300px;
    justify-content: space-evenly;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* border: #333 solid 1px; */
    margin: 20px;
}

.el {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.artwork-list-container h2 {
    margin-left: 90px;
    padding-top: 40px;
}

/* shopping cart styling ********************************************* */

.shopping-cart-panel {
    position: fixed;
    top: 0;
    right: -40%;
    height: 100vh;
    width: 100%;
    background-color: white;
    transition: right 0.5s ease-in-out;
    overflow-y: auto;
    z-index: 999;
}

.shopping-cart-panel.open {
    right: 0;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    color: #333;
    align-items: center;
    padding: 0 1rem; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.panel-header h3 {
    margin-right: 1rem;
    font-size: 22px;
}

.close-icon {
    /* margin: 0 1rem; */
    right: 0;
}


.cart-main-container {
    position: absolute;
    z-index: 1000;
    color: #333;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    width: 100%;
    font-size: 16px;
}

.empty-cart{
    margin: 1rem 0 0 1rem;
}

.cart-list-container {
    display: flex;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 0.2rem;
}

.img-icon {
    /* position: relative; */
    width: 30%;
    height: auto;
}

.img-icon img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.cart-details-container {
    display: flex;
    color: black;
    width: 100%;
    justify-content: space-around;
}

.cart-art-detials {
    display: flex;
    width: 50%;
    /* margin-bottom: 1rem; */
    align-items: center;
}

.cart-art-detials p {
    font-weight: bold;
    font-size: 12px;
}

.qty-pricing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    width: 30%;
}

.remove {
    color: red;
    cursor: pointer;
}

.total-container {
    margin: 1rem;
    font-size: 14px;
}

/* account page styling ****************************************** */

.account-container {
    margin: 60px;
    display: flex;
    width: 90%;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;

}

.background-design {
    width: 50%;
    height: 100%;
}

.background-design img {
    height: 100%;
}


.login-container {
    max-width: 60%;
    min-width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    background-color: #007B86;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logged-in-message {
    font-size: 18px;
    margin-bottom: 16px;
}

.logout-button {
    background-color: #f44336;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #d32f2f;
}